# Python environment
venv/
env/
*.pyc
__pycache__/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Personal configurations
pip.log
*.log

# User-specific files
*.suo
*.user
*.sln.docstates

# Package directories
lib/
libs/
build/
dist/